*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('https://source.unsplash.com/1080x1000/?Nepal');
    background-size: cover;
   overflow:hidden;
    height: 100vh;
    justify-content: center;
}

/* Desktop Icons  */
.icon{
    display:block;
}
.edgein img {
    width: 213vh;
    height: 100vh;
    z-index: -10;
}

.chromein2 img{
    width: 213vh;
    height: 100vh;
    z-index: -4;
}

.binin img{
    width: 213vh;
    height: 100vh;
    z-index: -4;
}

.thispcin img{
    width: 213vh;
    height: 100vh;
    z-index: -4;
}

.text{
    color: white;
    text-shadow: 3px 3px 3px #000000;
    padding-left: 5px;
    font-style: italic;
    font-family:cursive;
    padding-top: 2px;
    text-decoration: none;

    
}

/* Taskbar  */
.taskbar{
    background-color: #fdfdfd;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0%;
    z-index: -1;
    width: 180%;
    height: 40px;
    
}

.rightside{
    
    display: flex;
    position: absolute;
    right: -12vh;
    height: -1%;
    padding: 12vh;
    bottom: -12vh;
    width: 34vh;
    justify-content: center;
}
.container {
    padding-top: 7rem;
    margin-left: 62rem;
    z-index: -0; 
    position: fixed;

  }



/* Taskbar Icons  */
/* First Icon  */
.sutdown{
    right: -92px;
    margin: 85vh;
    height: 2vh;
    bottom: -370px;
    position: absolute;
    justify-content: center;
    z-index: 110;
    padding: 4px;
    display: none;
}
.sutdown img{
    
    border-radius: 10px;
    height: 20px;
}
.sutdownin{
    position: absolute;
    bottom: -800px;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    transition: all 0.3s ease-in;
    right:-270px ;
    padding: 50px;
}

.sutdownin img{
    
    border-radius: 10px;
    height: 90px;
}

.restart{
    right: -90px;
    margin: 85vh;
    width: -11%;
    height: 6vh;
    bottom: -85%;
    position: absolute;
    display: none;
    justify-content: center;
    z-index: 110;
    top:-51px;
    
}
.restart img{
    
    border-radius: 10px;
    height: 20px;
}
.starticon{
    right: 350px;
    bottom: 0%;
    margin: 85vh;
    width: -11%;
    height: 6vh;
    bottom: -85%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 110;
    padding: 4px;
    
}


.startmenu{
    position: absolute;
    bottom: -800px;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    transition: all 0.3s ease-in;
    z-index: -2;
}

.startmenu img{
    border-radius: 10px;
    height: 480px;
}

/* Second Icon  */
.searchicon{
    right: 300px;
    bottom: 0%;
    margin: 85vh;
    width: -11%;
    height: 6vh;
    bottom: -85%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 110;
    padding: 4px;
}


.searchin{
    position: absolute;
    bottom: -655px;
    width: 105%;
    height: 91vh;
    text-align: center;
    z-index: -4;
    transition: all 0.3s ease-in;
    

}

.searchin img{
    width: 89vh;
    height: 90vh;
    border-radius: 9px;
}

/* Third Icon  */
.thirdicon{
    right: 250px;
    bottom: 0%;
    margin: 85vh;
    width: -11%;
    height: 6vh;
    bottom: -85%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 110;
    padding: 4px;

}

.thirdicon img{
    width: 43px;
}


.threein img{
    margin-top: 60px;
    border-radius: 15px;
    width: 91vh;
    height: 93vh;


}


.threein{
    position: absolute;
    bottom: -800px;
    width: 100%;
    height: 103vh;
    text-align: center;
    border-radius: 25px;
    transition: all 0.3s ease-in;
    z-index: -2;
}

/* Fourth Icon  */
.fourthicon{
    right: 200px;
    bottom: 0%;
    margin: 85vh;
    width: -11%;
    height: 6vh;
    bottom: -85%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 110;
    padding: 4px;
    
}


.fourin{
    position: absolute;
    bottom: -800px;
    text-align: center;
    border-radius: 25px;
    transition:cubic-bezier(1, 1, 1, 1);
}
.fourin img{
    height: 471px;
    width: 209vh;
}


/* Fifth Icon */
.mcin img{
    border-radius: 2px;
    width: 213vh;
    height: 675px;

}


.mcicon{
    right: 150px;
    bottom: 0%;
    margin: 85vh;
    width: -11%;
    height: 6vh;
    bottom: -85%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 110;
    padding: 4px;

}

.mcin{
    position: absolute;
    bottom: -800px;
    width: 100%;
    height: 671px;
    text-align: center;
    border-radius: 25px;
    transition:cubic-bezier(1, 1, 1, 1);
    
}



/* Sixth Icon */
.folderin{
    position: absolute;
    bottom: -855px;
    right: 155vh;
    text-align: center;
    border-radius: 25px;
    transition:cubic-bezier(1, 1, 1, 1);
}

.folderin img {

    width: 389%;
    height: 100vh;
    
}

.foldericon{
    right: 100px;
    bottom: 0%;
    margin: 85vh;
    width: -11%;
    height: 6vh;
    bottom: -85%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 110;
    padding: 4px;

}



/* Seventh Icon */
.vscodeicon{
    right: 50px;
    bottom: 0%;
    margin: 85vh;
    width: -11%;
    height: 6vh;
    bottom: -85%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 110;
    padding: 4px;

}


.vscodein{
    
        position: fixed;
        bottom: -800px;
        right: 5.5px;
        transition:cubic-bezier(1, 1, 1, 1);
}

.vscodein img{
    width: 208vh;
    height: 470px;
}



/* Eighth Icon */
.chromeicon{
    right: 0px;
    bottom: 0%;
    margin: 85vh;
    width: -11%;
    height: 6vh;
    bottom: -85%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 110;
    padding: 4px;

}

.chromein{
    position: absolute;
    bottom: -800px;
    text-align: center;
    border-radius: 25px;
    transition: cubic-bezier(1, 1, 1, 1);

}

.chromein img{
    width: 214vh;
    height: 94vh;
}
/* Ninenth Icon */
.noti{
    right: -439px;
    bottom: 0%;
    margin: 85vh;
    width: -11%;
    height: 6vh;
    bottom: -85%;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 4px;
    z-index: 110;

}

.notiin{
    position: absolute;
    bottom: -800px;
    text-align: center;
    border-radius: 25px;
    transition: cubic-bezier(1, 1, 1, 1);

}

.notiin img{
    width: 44vh;
    height: 64vh;
    margin-left:850px;
}
.backbtn{
    position: absolute;
    text-align: center;
    border-radius: 25px;
    top: 2px;
    margin-left: 1060px;
    cursor: pointer;
    z-index: 110;
}











